header {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#grid-container {
    display: grid;
    height: 512px;
    width: 512px;
    border: 1px solid slategray;
}

.grid-element {
    border: 1px solid rgb(200, 200, 200);
}

.grid-element-hover {
    background-color: lightslategray;
}

#controls-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

#pen-color-label {
    margin-right: 5px;
}

#input-color {
    margin-right: 45px;
}

#eraser-button {
    border: 1px solid black;
    border-radius: 5px;
    height: 28px;
    width: 60px;
}